:root {
	--faceBody-height: -70%;
	--faceWaves-height: 500px;
}

@keyframes aniEaseUp {
  0%   {
  	top: 40px;
  		}

  100% {
  	top: 0px;
  }
}

.bg {
	background-color: #FFFFFF;
}

/* calc + 40vh */

.section {
	display: flex;
	justify-content: center;
   	flex-wrap: wrap;
   	max-width: 100%;
   	overflow-x: hidden;
   }

.split {
	display: flex;
  flex-direction: row;
  flex-basis: 30%;
  max-width: 80px !important;
  flex: 1;

}

.easeUp {
	position: relative;
	animation: aniEaseUp ease-out 0.4s forwards normal;
	opacity: 1 !important;
}

.aniImgInit{
	opacity: 0;
	transition: 0.4s ease;
}

.paragraphCent {
	left: calc(100% / 4) !important;
	color: pink;
	background-color: black;
	transition: 0.4s ease;
	width: 100%;
}

#img-hold{
	float: left;
	padding: 20px;
	max-width: 20%;
}

.insta-border {
	border: 1px #D4D4D4 solid;
	border-radius: 4px;
}

.imgFit{
	object-fit: cover;
	height: auto;
	max-width: 100%;
}

#scene4{
	float: right;
	max-width: 30% !important;
}

.flex-test {
	display: flex;
	flex-direction: column;
}

/* #scene4{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
} */

#insta-container {
	max-width: 40%;
	padding: 10px;
	font-size: 80%;
}

#insta-container hr{
}

.square {
	display: inline-flex;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	background-color: #D8D8D8;
}

.insta-img{
	margin: 10px 0 5px 0;
	text-align: center;
}

.lazy-h{
	background-color: #D8D8D8;
}
.lazy-p{


	color: rgba(0,0,0,0);
	line-height: 23px;
}

.insta-img-src{

	object-fit: cover;
	height: auto;
	width: 100%;

}

#scene4{
	max-width: 100%;
}

.indentText{
	position: absolute;
	float: left;
	top: 50%;
}

.quote-container {
	width: calc(100% / 2);
}

#my-sticky-element {
	left: 0%;
	position: relative;
	transition: 1s ease;
}

blockquote{
	margin: 0;
}

.head-container{
	position: relative;
	padding-top: var(--faceWaves-height);
}

.head-container::before {
}

.intro-background {
	background-color: #735934;
	padding-top: 1%;
}

.intro-faceBody {
	position: absolute;
	bottom: 0px;
	left: 0;
	top: 0;
}

#split-container{
	display: grid;
    grid-gap: 2px;
    grid-template-columns: 70% 30%;
}

.intro-waves {
	position: absolute;
	left: 0;
	bottom: 0;
}



/*--*/

/* #introContainer, #introBody, #introMask {
	border: 5px solid pink;
} */

#introContainer{
	height: 100vh;
	display: flex;
	justify-content: center;

	
	background-color: #735934;
}

#introFigure{
	display: flex;
	justify-content: center;
	align-self: flex-end;

	flex-direction: column;
}

/* Portrait */
@media screen 
  and (min-width: 320px) 
  and (max-width: 812px){

  	#introFigure{
	align-self: center;
}
}

#introBody{
	position: absolute;
	transform: translate(0, var(--faceBody-height));

}

#introMask{
	position: relative;

}

.mirror-base {
	position: relative;
	display: flex;
	z-index: 1;
}

.mirror-base:first-child {

}

.mirror-img {
	z-index: 0;

}

.mirror-base-img{
	position: absolute;

	z-index: 1;

}
.mirror-img-img{
	position: absolute;

	z-index: 0;
}

/* build the article with sections of different colors */
/* 700 words */